#header {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia;
}

#content {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: georgia;
}

#button {
  text-align: center;
  padding: 10px;
}
